langchain==0.3.19
langchain-community==0.3.18
langchain-chroma==0.2.2
langchain-groq==0.2.4
langchain-huggingface==0.1.2
python-dotenv==1.0.1
huggingface-hub==0.29.1
chromadb==0.6.3
unstructured==0.16.23